<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./mobile.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="mainContainer">
    </div>
 	<script src="https://cdn.bootcss.com/react/15.6.2/react.min.js"></script>
	<script src="https://cdn.bootcss.com/react-dom/15.6.2/react-dom.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<!--  	<script src="https://unpkg.com/react@15/dist/react.js"></script>
	<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script> -->
	<!-- <script src="https://unpkg.com/react-progressive-image@0.1.0/umd/react-progressive-image.min.js"></script> -->
</body>
<html>
