.home {
    width: 22px;
    height: 22px;
    background: url(./images/home.svg) center center /  21px 21px no-repeat;
}

.home-selected {
    width: 22px;
    height: 22px;
    background: url(./images/home_selected.svg) center center /  21px 21px no-repeat;
}

.tvshow {
    width: 22px;
    height: 22px;
    background: url(./images/intro.svg) center center /  21px 21px no-repeat;
}

.tvshow-selected {
    width: 22px;
    height: 22px;
    background: url(./images/intro_selected.svg) center center /  21px 21px no-repeat;
}

.subscribe {
    width: 22px;
    height: 22px;
    background: url(./images/nutritionist.svg) center center /  21px 21px no-repeat;
}

.subscribe-selected {
    width: 22px;
    height: 22px;
    background: url(./images/nutritionist_selected.svg) center center /  21px 21px no-repeat;
}

.my {
    width: 22px;
    height: 22px;
    background: url(./images/my.svg) center center /  21px 21px no-repeat;
}

.my-selected {
    width: 22px;
    height: 22px;
    background: url(./images/my_selected.svg) center center /  21px 21px no-repeat;
}

.am-tab-bar-bar {
    height: 60px;
}

.am-tab-bar-bar .am-tab-bar-tab-title {
    margin: 5px 0 0 0;
}

.ant-tabs-nav-scroll {
    height: 0;
}

.ant-tabs-bar {
    margin-bottom: 0;
    border-bottom: none;
}

.am-whitespace {
    background-color: #fff;
}

.am-tab-bar-bar .am-tab-bar-tab-title {
    font-size: .2rem;
}
