html {
  font-size: 1.5rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch; /*MAKES OVERFLOWN OBJECTS HAVE INERTIA SCROLLING*/

  /*HELPS THE ABOVE WORK IN IOS5-8*/

  /*  -webkit-transform: translateZ(0px); 
  -webkit-transform: translate3d(0,0,0); 
  -webkit-perspective: 1000; 
  position:absolute; 
  z-index:10;*/
}

#mobileheader {
  flex: 1;
  background: #f6f6f6;
}

#mobileheader header {
  border-bottom: 1px solid #2db7f5;
  padding-left: 10px;
}

#mobileheader header img {
  height: 50px;
}

#mobileheader header span {
  font-size: 35px;
  vertical-align: top;
  padding-left: 5px;
  color: #2db7f5;
}

#mobileheader i {
  font-size: 0.5rem;
  float: right;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  color: #2db7f5;
}

#mobileheader ul li {
  font-size: 30px;
}

#mobileheader .slick-list img {
  height: 220px;
  width: 100%;
}

#mobileDetailsContainer .title, .article-title .title {
  font-size: 0.44rem !important;
  line-height: 1.4em
}

#mobileDetailsContainer .article-src-time {
  font-size: 0.3rem !important;
}

#mobileDetailsContainer .article-content .txt {
  font-size: 0.36rem;
}

#mobileDetailsContainer .ant-row {
  margin-top: 20px;
}

.ucmobileList {
  margin-top: 60px;
}

.article-content .img {
  margin-bottom: -1.3rem;
}

.ucmobileList {
  margin-top: -60px;
}

.topbar {
  text-align: left !important;
  margin-bottom: 10px;
  background: #2db7f5;
  display: block;
  font-size: .32rem;
  max-width: 1080px;
  height: .98rem;
  line-height: .98rem;
  padding: 0 0 0 10px;
  box-sizing: border-box;
  font-size: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: fixed;
  width: 7.5rem;
  z-index: 10000;
  top: 0
}

.topbar, .topbar a {
  color: #fff
}

.topbar img {
  width: 50px;
}

.topbar span {
  display: inline-block;
  width: 80px;
  height: 50px;
  vertical-align: top;
  font-size: 0.5rem;
  padding-left: 10px;
}

.tloader-footer .tloader-btn {
  line-height: 1rem !important;
}

.footer {
  padding-top: 2px !important;
}

.m_article {
  font-size: 14px;
  padding: .2rem 0;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 !important;
  width: 100%;
}

section {
  background: #f6f6f6;
  width: 6.9rem
}

.m_separate {
  padding: .2rem .3rem;
  background: #f6f6f6;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5
}

.m_article {
  font-size: 14px;
  padding: .1rem 0;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 .3rem
}

.m_article .m_article_img {
  float: left;
  width: 27%;
  height: 1.4rem;
  overflow: hidden;
  position: relative;
  margin-right: .2rem
}

.m_article .m_article_img .m_article_mark {
  color: #fff;
  background: #5da3e9;
  font-size: .28rem;
  text-align: center;
  padding: .04rem;
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  height: .4rem;
  line-height: .4rem;
  opacity: .9
}

.m_article .m_article_desc .m_article_channel {
  display: inline-block;
  color: rgba(255, 51, 51, 0.9);
  font-size: 12px;
  padding: 2px;
  line-height: 12px;
  margin-right: .02rem;
  background: url(http://img2.cache.netease.com/f2e/wap/common/images/border_red.png) no-repeat;
  background-size: 100% 100%
}

.m_article .m_article_desc .m_article_time {
  font-size: .24rem;
  color: #888;
  display: inline-block
}

.m_article .m_article_desc .m_article_desc_r {
  float: right;
  background-size: contain;
  background-position: left 0;
  background-repeat: no-repeat;
  color: #888;
  line-height: .37rem
}

.m_article .m_article_desc .m_article_desc_r .iconfont {
  padding: 0 .1rem 0 0;
  display: inline-block;
  font-size: .28rem;
  color: #a8a8a8
}

.m_article .m_article_info {
  overflow: hidden;
  padding-bottom: .15rem
}

.m_article .m_article_info .m_article_title {
  text-align: left;
  font-size: .34rem;
  margin-bottom: .2rem;
  color: #404040;
  line-height: .42rem;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-line-break: auto;
  -webkit-box-orient: vertical
}

.m_article .m_article_hot {
  margin-top: .17rem;
  float: left;
  height: .42rem;
  width: 100%
}

.m_article .m_article_hot .m_article_hot_icon {
  color: #fff;
  background: #4c9aea;
  border-radius: .5rem;
  text-align: center;
  padding: .05rem;
  line-height: .3rem;
  width: 1.11rem;
  height: .3rem;
  float: left;
  position: relative
}

.m_article .m_article_hot .m_article_hot_icon:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.05rem;
  right: -0.04rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #4c9aea
}

.m_article .m_article_hot .m_article_hot_content {
  margin-left: .15rem;
  float: left
}

.m_article .m_article_hot .m_article_hot_content a {
  display: inline-block;
  color: #4c9aea;
  font-size: .28rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 5.5rem
}

.m_article_m0 {
  min-height: 1.4rem
}

.m_article_m1 {
  min-height: 1.4rem
}

.m_article_m1 .m_article_title {
  display: none
}

.m_article_m1 .m_article_img {
  width: 100%;
  margin: 0
}

.m_photoset .m_photoset_title {
  font-size: .34rem;
  margin-bottom: .2rem;
  color: #404040;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex
}

.m_photoset .m_photoset_pic {
  margin: .22rem 0;
  display: block
}

.m_photoset .m_photoset_pic .m_photoset_pic_wrap {
  overflow: hidden;
  height: 1.65rem
}

.m_photoset .m_photoset_pic .m_photoset_pic_wrap img {
  width: 32%;
  float: left;
  margin-right: 2%;
  display: inline-block;
  min-height: 1.4rem
}

.m_photoset .m_photoset_pic .m_photoset_pic_wrap img:last-child {
  margin-right: 0
}

.m_photoset_square {
  background: #fff;
  width: 3.35rem;
  float: left;
  margin: .2rem 0 0 0;
  padding: 0;
  border: 0;
  box-shadow: 0 1px 1px #e3e3e3
}

.m_photoset_square .m_photoset_square_img {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: auto;
  -webkit-animation: imgload2 1s ease-out;
  animation: imgload2 1s ease-out;
  -webkit-animation-name: imgload2;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-out
}

.m_photoset_square .m_photoset_square_img img {
  width: 100%;
  display: block;
  min-height: 2rem
}

.m_photoset_square.papa_item .m_photoset_square_info .m_photoset_square_title span {
  display: inline
}

.m_photoset_square.papa_item .m_photoset_square_info .m_photoset_square_title .m_photoset_square_adflag {
  display: inline-block;
  color: #efd469;
  font-size: 12px;
  padding: 2px;
  line-height: 12px;
  margin-right: .1rem;
  background: url(http://img2.cache.netease.com/f2e/wap/common/images/border_yellow.png) no-repeat;
  background-size: 100% 100%
}

.m_photoset_square .m_photoset_square_info {
  padding: .15rem;
  float: left;
  width: 100%;
  box-sizing: border-box
}

.m_photoset_square .m_photoset_square_info .m_photoset_square_title {
  color: #555;
  width: 100%;
  margin-bottom: .15rem
}

.m_photoset_square .m_photoset_square_info .m_photoset_square_title span {
  display: block;
  font-size: .28rem;
  line-height: .42rem
}

.m_photoset_square .m_photoset_square_info .m_photoset_square_desc {
  width: 100%
}

.m_photoset_square .m_photoset_square_info .m_photoset_square_desc .m_photoset_square_desc_l {
  float: left;
  background-size: contain;
  background-position: left 0;
  background-repeat: no-repeat;
  color: #888;
  line-height: .36rem;
  font-size: .24rem
}

.m_photoset_square .m_photoset_square_info .m_photoset_square_desc .m_photoset_square_desc_l .iconfont {
  padding: 0 .1rem 0 0;
  display: inline-block;
  font-size: .28rem;
  color: #a8a8a8
}

.m_photoset_square .m_photoset_square_info .m_photoset_square_desc .m_photoset_square_desc_r {
  float: right;
  background-size: contain;
  background-position: left 0;
  background-repeat: no-repeat;
  color: #888;
  line-height: .36rem;
  font-size: .24rem
}

.m_photoset_square .m_photoset_square_info .m_photoset_square_desc .m_photoset_square_desc_r .iconfont {
  padding: 0 .1rem 0 0;
  display: inline-block;
  font-size: .28rem;
  color: #a8a8a8
}

.m_article_debate {
  margin: 0;
  background: #eee
}

.m_article_debate .m_debate_title {
  font-size: .34rem;
  margin-bottom: .2rem;
  color: #404040;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex
}

.m_article_debate .m_debate_contents {
  margin: .4rem 0 .2rem 0
}

.m_article_debate .m_debate_contents div {
  float: left
}

.m_article_debate .m_debate_contents .debate_btn {
  padding: .25rem 0;
  border: 1px solid #eee;
  border-radius: .5rem;
  font-size: .28rem;
  width: 1.6rem;
  text-align: center;
  background: #fff
}

.m_article_debate .m_debate_contents .debate_positive {
  border: 1px solid #ff9292;
  color: #f33
}

.m_article_debate .m_debate_contents .debate_positive:active {
  background: #ff9292;
  color: #fff
}

.m_article_debate .m_debate_contents .debate_opposing {
  border: 1px solid #9dcdff;
  color: #4c9aea
}

.m_article_debate .m_debate_contents .debate_opposing:active {
  background: #9dcdff;
  color: #fff
}

.m_article_debate .m_debate_contents .debate_view {
  width: 3.2rem;
  margin: 0 .2rem
}

.m_article_debate .m_debate_contents .debate_view .data_positive .data {
  color: #f33;
  text-align: center;
  width: 100%;
  margin: .05rem 0
}

.m_article_debate .m_debate_contents .debate_view .data_positive .chart {
  background: #f33;
  height: .2rem;
  width: 100%;
  border-bottom-left-radius: .25rem;
  border-top-left-radius: .25rem
}

.m_article_debate .m_debate_contents .debate_view .chart_wall {
  margin: 0 .05rem;
  height: .8rem
}

.m_article_debate .m_debate_contents .debate_view .data_opposing .data {
  color: #4c9aea;
  text-align: center;
  width: 100%;
  margin: .05rem 0
}

.m_article_debate .m_debate_contents .debate_view .data_opposing .chart {
  background: #4c9aea;
  height: .2rem;
  width: 100%;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem
}

.m_article_debate .m_debate_desc {
  line-height: .5rem;
  height: .5rem
}

.m_article_debate .m_debate_desc .m_debate_channel {
  display: inline-block;
  font-size: .24rem;
  height: .24rem;
  line-height: .24rem;
  border: 1px solid #f33;
  color: #f33;
  border-radius: 4px;
  padding: 0 .04rem;
  line-height: .32rem;
  box-sizing: border-box
}

.m_article_debate .m_debate_desc .m_debate_time {
  margin-left: .1rem;
  font-size: .24rem;
  color: #888;
  display: inline-block
}

.m_article_debate .m_debate_desc .m_debate_desc_l {
  float: left
}

.m_papa {
  font-size: .24rem;
  padding: .2rem 0;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 .3rem
}

.m_papa .m_papa_img {
  float: left;
  width: 27%;
  height: 1.4rem;
  overflow: hidden;
  position: relative;
  margin-right: .2rem
}

.m_papa .m_papa_img img {
  width: 100%;
  height: 100%;
  display: block
}

.m_papa .m_papa_desc .m_papa_promote {
  display: inline-block;
  font-size: 12px;
  color: #555;
  padding: 2px 2px;
  height: 12px;
  line-height: 12px;
  background: url(http://img2.cache.netease.com/f2e/wap/common/images/border_grey.png) no-repeat;
  background-size: 100% 100%
}

.m_papa .m_papa_desc .m_papa_time {
  margin-left: .2rem;
  font-size: .24rem;
  color: #888;
  display: inline-block
}

.m_papa .m_papa_desc .m_papa_desc_l {
  float: left
}

.m_papa .m_papa_info {
  overflow: hidden
}

.m_papa .m_papa_info .m_papa_title, .m_papa .m_papa_info a {
  font-size: .34rem;
  margin-bottom: .2rem;
  text-decoration: none;
  color: #404040;
  line-height: .42rem
}

.m_papa_m0 .m_papa_title {
  display: none
}

.m_papa_m0 .m_papa_img {
  width: 100%;
  height: 1.2rem
}

.m_papa_m1 .m_papa_title {
  font-size: .34rem;
  margin-bottom: .2rem;
  color: #404040
}

.m_papa_m1 .m_papa_title .m_papa_promote {
  display: inline-block;
  font-size: .24rem;
  border: 1px solid #555;
  color: #555;
  border-radius: 3px;
  padding: 2px 2px;
  height: 12px;
  line-height: 12px;
  float: right
}

.m_papa_m1 .m_papa_pic {
  margin: .22rem 0;
  display: block
}

.m_papa_m1 .m_papa_pic .m_papa_pic_wrap {
  height: 1.66rem;
  overflow: hidden
}

.m_papa_m1 .m_papa_pic .m_papa_pic_wrap img {
  width: 32%;
  float: left;
  margin-right: 2%;
  min-height: 1.4rem
}

.m_papa_m1 .m_papa_pic .m_papa_pic_wrap img:last-child {
  margin-right: 0
}

.m_papa_m2 {
  background: #eee;
  margin: 0;
  border-top: 1px solid #e5e5e5;
  margin-top: -1px;
  width: 100%
}

.m_papa_m2 .m_papa_content {
  font-size: .34rem;
  color: #4c9aea
}

.m_papa_m2 .m_papa_content a, .m_papa_m2 .m_papa_content a:active, .m_papa_m2 .m_papa_content a:visited, .m_papa_m2 .m_papa_content a:focus {
  color: #4c9aea
}

.m_papa_m2 .m_papa_promote {
  display: inline-block;
  font-size: 12px;
  border: 1px solid #555;
  color: #555;
  border-radius: 3px;
  padding: 2px 2px;
  float: right;
  height: 12px;
  line-height: 12px
}

.m_papa_iframe .m_papa_iframe_wrap {
  height: 1.4rem;
  width: 6.9rem;
  overflow: hidden
}

.m_papa_iframe iframe {
  width: 100%;
  height: 100%
}

.m_papa_iframe_photoset .m_papa_iframe_wrap {
  height: 2.44rem;
  width: 6.9rem;
  overflow: hidden
}

.m_papa_iframe_photoset iframe {
  width: 100%;
  height: 100%
}

.m_article_simple {
  font-size: .24rem;
  padding: .2rem 0;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 .3rem
}

.m_article_simple .m_article_channel {
  float: left;
  margin-right: .1rem
}

.m_article_simple .m_article_channel span {
  color: #999;
  line-height: .32rem;
  padding-right: .1rem;
  border-right: 1px solid #d2d2d2;
  font-size: .24rem;
  margin-top: .08rem;
  height: .32rem;
  display: block
}

.m_article_simple .m_article_info {
  overflow: hidden;
  position: relative
}

.m_article_simple .m_article_title {
  font-size: .34rem;
  margin-bottom: 0;
  color: #404040;
  line-height: .45rem;
  width: 5rem;
  display: inline-block;
  float: left
}

.m_article_simple .m_article_title_long {
  font-size: .34rem;
  margin-bottom: 0;
  color: #404040;
  line-height: .42rem;
  width: 5.5rem;
  display: inline-block;
  float: left
}

.m_article_simple .m_article_desc {
  position: absolute;
  right: 0;
  height: 100%;
  width: 1.15rem
}

.m_article_simple .m_article_desc .m_article_desc_r {
  background-size: contain;
  background-position: left 0;
  background-repeat: no-repeat;
  color: #888;
  line-height: .42rem;
  white-space: nowrap
}

.m_article_simple .m_article_desc .m_article_desc_r .iconfont {
  padding: 0 .1rem 0 0;
  display: inline-block;
  font-size: .28rem;
  color: #a8a8a8
}

.no_special .special_section {
  display: none
}

.m_bigimg .m_bigimg_title {
  font-size: .34rem;
  color: #404040;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex
}

.m_bigimg .m_article_img {
  width: 100%;
  height: 2.3rem;
  margin: .22rem 0
}

.m_bigimg .m_article_img .img_wrap {
  width: 100%;
  height: 100%;
  position: absolute
}

.m_bigimg .m_article_img .play-btn-video {
  width: 1.2rem;
  height: .7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.6rem;
  margin-top: -0.35rem;
  display: block;
  background: url(http://img2.cache.netease.com/f2e/wap/common_staging/images/icon_play.png) no-repeat;
  background-size: contain
}

.m_split_line {
  width: 100%;
  height: .2rem;
  border-top: 1px #e6e6e6 solid;
  border-bottom: 1px #e6e6e6 solid;
  background-color: #eee
}

.m_launch_special {
  margin: 0;
  width: 7.5rem;
  background: #eee
}

.m_launch_special .m_launch_special_wrap {
  padding: .2rem .3rem;
  background: #f6f6f6;
  border-top: 1px #e6e6e6 solid;
  border-bottom: 1px #e6e6e6 solid
}

.m_launch_special .m_launch_special_title {
  font-size: .34rem;
  color: #404040;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex
}

.m_launch_special .m_article {
  margin: 0
}

.m_launch_special .m_article:nth-child(4) {
  border-bottom: 0
}

.m_launch_special .m_open_specail {
  width: 100%;
  height: .63rem;
  line-height: .63rem;
  background-color: #eee;
  color: #4c9aea;
  text-align: center;
  font-size: .24rem
}

.leftContainer {
  width: 400px;
  float: left;
}

.carousel {
  width: 400px;
  float: left;
}

.ant-card-head-title {
  text-align: left !important;
}

.ant-card-body {
  text-align: left !important;
}

.topNewsList {

  /*  float: left; */
  text-align: left;
  font-size: 14px;   /*  margin-bottom: 10px; */
  background-color: #fff;
}

.carousel img {
  width: 400px;
  height: 170px;
}

.list-booter {
  background-color: #fff;
  color: rgb(147, 157, 156);
  text-align: center;
}

.am-list-footer {
  background-color: #fff;
}

.list-view-section-body {
  padding: .1rem .2rem .2rem .2rem;
}

/*antd 默认样式修改*/
html:not([data-scale]) .am-list-body::after {
  display: none !important;
}

/*antd 默认样式修改*/
.am-list-item.am-list-item-middle {
  border: none !important;
}

html:not([data-scale]) .am-list-body::before {
  display: none !important;
}

.am-list-body {
  border-top: none !important;
  border-bottom: none !important;
}
